* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Nova Cond', sans-serif;
}

@font-face {
  font-family: 'Arial Nova Cond';
  src: url('./fonts/ArialNovaCond-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Nova';
  src: url('./fonts/ArialNova-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Nova Light';
  src: url('./fonts/ArialNova-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --peak: #71FF00;
  --strong: #7BDB2E;
  --primed: #94CA69;
  --baseline: #BBD1AA;
  --compromised: #EFB50A;
  --fatigued: #EF780A;
  --drained: #F43B2B;
  --header-background: #2c2c2c;
  --secondary: #969696;
  --background: #434242;
  --background-even: #323232;
  --outer-circle: #4a4949;
  --outer-circle-even: #3a3a3a;
  --row-text: #fefefe;
  --trail-stroke: #353536
}

.Cell {
  border: 1px solid var(--secondary);
}


.GridItemEven {
  background-color: var(--background-even);
  border: 1px solid var(--secondary);
}

.GridItemOdd {
  background-color: var(--background);
  border: 1px solid var(--secondary);
}

.GridItemEven .outer-circle  {
  /* background-color: var(--background-even); */
      stroke: var(--outer-circle-even);
      fill: var(--outer-circle-even);
}
.GridItemOdd .outer-circle {
  /* background-color: var(--background); */
      stroke: var(--outer-circle);
      fill: var(--outer-circle);
}

.Grid {
  /* thin scrollbar */
  scrollbar-width: thin;
  border: 1px solid var(--secondary);
  background-image: linear-gradient(var(--secondary),var(--secondary)000);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: 162px 0px, 0px 0px;
}
